
@{
    ViewBag.Title = "MultipleSeries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myChart" style="width:1000px; height:400px;"></div>

@section Javascript{
    <script>
        $(function () {
            var series1 = [1, 2, 3, 4, 5];
            var series2 = [2, 3, 4, 5, 6];
            $.jqplot('myChart', [series1,series2],
                {
                    title: "jqPlot Test",//标题
                   // series: [{ renderer: $.jqplot.BarRenderer }, { renderer: $.jqplot.BarRenderer }],//序列
                    seriesDefaults: { renderer: $.jqplot.BarRenderer }
                }
                );
        });
    </script>
}




