
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="myChart" style="width:1000px; height:400px;"></div>

@section Javascript{
    <script>
        $(function () {
            var data = [[[10, 100], [80, 130], [65, 75], [40, 130],[60, 80], [30, 140], [70, 120], [20, 110], [95, 100]]];
            $.jqplot('myChart', data,
                {
                   title:"jqPlot test"
                });
        });
    </script>
}






