
@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myChart" style="width:1000px; height:400px;"></div>

@section Javascript{
    <script>
        $(function () {
            var data = [[0, 1.2], [10, 2.4], [20, 5.6], [30, 12], [40, 23],[50, 60], [60, 120], [70, 270], [80, 800]];
            $.jqplot('myChart', data,
                {
                    title: "jqPlot test",
                    axes: {
                        xaxis: { label: "X Axes" },
                        yaxis: {
                            label: "Y Axes",
                            renderer:$.jqplot.LogAxisRenderer
                        }
                    }
                });
        });
    </script>
}

