
@{
    ViewBag.Title = "Mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="myChart" style="width:1000px; height:400px;"></div>

@section Javascript{
    <script>
        $(function () {
            var series1 = [1, 8, 3, 4, 5];
            var series2 = [2, 5, 4, 5, 6];
            $.jqplot('myChart', [series1, series2],
                {
                    title: "jqPlot Test",//标题
                    seriesColors: ["#105567", "#805567"],//各个序列的颜色
                    series: [
                        {
                            linePattern: 'dashed',//线条样式
                            lineWidth: 2,//线的宽度
                            markerOptions: { style: 'diamond', size: 7 }//标记点样式
                        },//第一个序列
                        {
                            showLine: false,//不显示线条
                            markerOptions: { size: 7, style: 'x' }//标记点样式
                        }//第二个序列
                    ]
                }
                );
        });
    </script>
}

