
@{
    ViewBag.Title = "AngleText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="myChart" style="width:1000px; height:400px;"></div>

@section Javascript{
    <script>
        $(function () {
            var data = [['Germany', 12], ['Italy', 8], ['Spain', 6], ['France', 10], ['UK', 7]];
            var options = {
                title: "jqPlot test",
                series: [{ renderer: $.jqplot.BarRenderer }],
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                        tickOptions: {
                            angle: -30,
                            fontSize: '10pt'
                        }
                    }
                }
            }
            $.jqplot('myChart', [data], options);
        });
    </script>
}

