
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myChart" style="width:1000px; height:400px;"></div>

@section Javascript{
    <script>
        $(function () {
            var data = [['Germany', 12], ['Italy', 8], ['Spain', 6], ['France', 10], ['UK', 7]];
            var data2 = [['Germany', 10], ['Italy', 9], ['Spain', 4], ['France', 11], ['UK', 7]];
            var options = {
                title: "jqPlot test",
                series: [{ renderer: $.jqplot.BarRenderer }, { renderer: $.jqplot.BarRenderer }],
                axes: {
                    xaxis: {
                        renderer:$.jqplot.CategoryAxisRenderer
                    }
                }
            }
            $.jqplot('myChart', [data, data2], options);
        });
    </script>
}

